.container {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.img {
  width: 50rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  object-fit: cover;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  width: 66rem;
}

.title {
  font-size: 4.6rem;
}

.priceBox {
  margin-top: 1rem;
  display: flex;
  gap: 4rem;
}

.stock {
  width: fit-content;
  padding: .4rem 1rem;
  border-radius: .4rem;
  background-color: lightgray;
  font-size: 1.4rem;
  color: white;

  &.active {
    background-color: #61af13;
  }

  &.disable {
    background-color: #e12a2a;
  }
}

.price {
  margin-top: auto;
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;

  > span:nth-child(2) {
    margin-left: .6rem;
    font-size: 1.6rem;
    text-decoration: line-through;
    color: #da1616;
  }
}

.description {
  margin-top: 3rem;
  font-weight: 300;
  font-size: 2.4rem;
}

@media (max-width: 48em) {
  .main {
    margin-bottom: 10rem;
  }

  .container {
    flex-direction: column;
    gap: 3rem;
  }

  .img {
    width: 100%;
  }

  .textWrapper {
    width: 100%;
  }

  .title {
    order: 2;
    margin-top: 2rem;
    font-size: 5rem;
  }

  .priceBox {
    order: 1;
    margin-top: 0;
    display: flex;
    gap: 4rem;
  }

  .stock {
    padding: .4rem 2rem;
    border-radius: .6rem;
    font-size: 2.2rem;
  }

  .price {
    font-size: 3rem;

    > span:nth-child(2) {
      font-size: 2.2rem;
    }
  }

  .description {
    order: 3;
    font-size: 3.6rem;
  }
}
