.main {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  padding-top: 9rem;
  background-color: white;
  transform: translateY(-150%);
  transition: transform .2s ease-in-out;
  box-shadow: 0 4rem 15rem 0 rgba(0, 0, 0, 0.4);
  --pTop: 3rem;

  &.active {
    transform: translateY(0);
    transition: transform .4s ease-in-out;
  }
}

.container {
  position: relative;
  height: 100%;
}

.menuList {
  flex: none;
  width: 40rem;
  height: 100%;
  padding-top: var(--pTop);
  background-color: #f1f1f1;

  &:before {
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    width: 50vw;
    height: 100%;
    background-color: inherit;
  }
}

.menuItem {
  width: 100%;

  @media (min-width: 48.01em) {
    &.active {
      > .menuItemLink {
        border-right: 2px solid var(--colorPurple);
        background: linear-gradient(to right, transparent, rgba(255,255,255,0.2) 2rem, white 6rem, white 100%);
        color: var(--colorPurple);
      }
    }
  }
}

.menuItemLink {
  position: relative;
  width: calc(100% + 6rem);
  height: 6rem;
  padding: 0 2rem 0 6rem;
  margin-left: -6rem;
  font-size: 2rem;

  > h3:first-child {
    margin-left: 8rem;
  }
}

@media (max-width: 48em) {
  .main {
    padding-top: 17.2rem;
    box-shadow: none;
    transform: translateX(-100%);
    transition: transform .2s ease-in-out;
    --pTop: 0;

    &.active {
      transform: translateX(0);
      transition: transform .2s ease-in-out;
    }
  }

  .container {
    padding: 0 !important;
  }

  .menuList {
    width: 100%;
    overflow-y: auto;

    &:before {
      content: none;
    }
  }

  .menuItem {
    display: flex;
    align-items: center;
    gap: 4rem;
    height: 12rem;
    padding-right: 6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    &.hasItems:after {
      content: '';
      flex: none;
      width: 2.4rem;
      height: 2.4rem;
      margin-left: auto;
      margin-right: -2rem;
      border-top: 2px solid black;
      border-right: 2px solid black;
      border-radius: .4rem;
      transform: rotate(45deg);
    }

    &:not(.hasItems) {
      > .menuItemLink {
        width: 100%;
      }
    }
  }

  .menuItemLink {
    position: relative;
    width: fit-content;
    padding: 2rem 0 2rem 2rem;
    margin-left: 0;
    font-size: 3rem;
  }
}