.searchForm {
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
  width: 75rem;
  height: 4rem;
  border-radius: .5rem;
  background-color: #f5f5f6;

  > button {
    padding: 0 1.4rem;
  }
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.search {
  flex: auto;
  height: 100%;
  cursor: pointer;

  > input {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    font-size: 1.8rem;
  }

  > svg {
    flex: none;
    height: 60%;
  }
}

@media (max-width: 48em) {
  .main {
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 10rem;
    overflow: hidden;

    &.show {
      left: 0;
    }
  }

  .searchForm {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: white;

    > button {
      flex: none;
      width: 4.6rem;
      padding: 0;
      margin: 0 3rem;

      > svg {
        width: 100%;
        height: auto;
      }
    }
  }

  .search {
    > input {
      padding-left: 4rem;
      font-size: 3rem;
    }
  }

  .searchBtn {
    order: 2;
    display: block;
    width: 4.6rem;
    height: 4.6rem;

    > svg {
      width: 100%;
      height: 100%;
    }
  }
}